// Buttons

.button {
  padding: 1rem 0;
  min-width: rem-calc(250px);
  background: $charcoal-color;
  border-color: $charcoal-color;
  overflow: hidden;
  z-index: 999;
  @include user-select(none);
  @include element-text(center);
  &:hover {
    background: $peach-color;
    border-color: $peach-color;
    span {
      color: $peach-color;
    }
    span + span {
      top: 16px;
      color: $button-font-color;
      opacity: 1;
    }
  }
  &.wide {
    width: rem-calc(360px);
  }
  // Secondary Button Style
  &.secondary {
    background: $white-color;
    color: $peach-color;
    border-color: $peach-color;
    &:hover {
      background: $peach-color;
      color: $white-color;
      border-color: $peach-color;
    }
  }
  // Tertiary Button Style
  &.tertiary {
    background: $white-color;
    color: $middle-grey-color;
    border-color: $middle-grey-color;
    &:hover {
      background: $middle-grey-color;
      color: $white-color;
      border-color: $middle-grey-color;
      // Set the hover colour for the spans.
      span {
        color: $middle-grey-color;
      }
      span + span {
        color: $white-color;
      }
    }
  }
  // Tertiary Button Style
  &.quaternary {
    background: none;
    color: $white-color;
    border-color: $white-color;
    &:hover {
      background: $charcoal-color;
      color: $white-color;
      border-color: $charcoal-color;
      // Set the hover colour for the spans.
      span {
        color: $middle-grey-color;
        opacity: 0;
      }
      span + span {
        color: $white-color;
        opacity: 1;
      }
    }
  }
  // Add the transition for the spans.
  span {
    @include single-transition(all, 0.5s, false, false);
  }
  // Move the second span out of the way.
  > span + span {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
  }
}

input[type="submit"] {
  @include border-radius($global-radius);
  background-color: $charcoal-color;
  color: $white-color;
  @include single-transition(background-color, 1s, false, false);
  &.complete {
    background-color: $green-color;
  }
}
