// Row Content

body {
  .full-content-container {
    opacity: 0;
    @include transition(right 0.5s, opacity 1.5s ease);
    position: relative;
    right: 0;
    background: $white-color;
  }
  &.loaded {
    .full-content-container {
      opacity: 1;
    }
    .loading {
      opacity: 0;
      z-index: -1;
    }
  }
  &.open {
    .side-menu {
      right: 0;
      }
    .full-content-container {
      //right: 260px;
    }
    .menu-content-overlay {
      z-index: 998;
      cursor: pointer;
      opacity: 1;
    }
    a.menu-toggle {
      right: rem-calc(280px);
      background-image: url('../icon/ac-icon-close.svg');
      background-size: rem-calc(32px) rem-calc(32px);
    }
  }
}

// Side Menu
.side-menu {
  z-index: 1000;
  position: fixed;
  right: rem-calc(-260px);
  width: rem-calc(260px);
  @include transition(right 0.7s, opacity 0.5s);
  padding: rem-calc(35px);
  overflow: scroll;
  background: $white-color;
  .logo {
    margin-bottom: rem-calc(45px);
  }
  p {
    line-height: 140%;
    text-transform: uppercase;
  }
  .separator {
    width: rem-calc(70px);
    height: rem-calc(1px);
    margin: rem-calc(45px) 0;
    background: $middle-grey-color;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    height: 1.2rem;
    a {
      text-decoration: none;
      color: $grey-color;
      border: none;
      font-weight: 500;
      &:hover {
        color: $dark-grey-color;
      }
      &.active {
        font-weight: 700;
        color: $black-color;
      }
    }
  }
  a.button {
    min-width: 100%;
    margin-top: rem-calc(45px);
  }
}


@media #{$large-up} {
  .side-menu {
    width: rem-calc(340px);
    right: rem-calc(-170px);
    padding: rem-calc(35px) rem-calc(70px);
    z-index: 0;
    opacity: 0;
    a.button {
      margin-top: 0;
    }
  }
  body.open {
    .full-content-container {
      right: rem-calc(340px);
    }
    a.menu-toggle {
      right: rem-calc(380px);
    }
    .side-menu {
      z-index: 0;
      opacity: 1;
    }
  }
}

// Content overlay when side menu is active
.menu-content-overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 200, 160, 0.9);
  @include transition(opacity 1s, z-index 1s);
}


.row {
  @include single-box-shadow($shadow-color, 0px, rem-calc(5px), rem-calc(15px), false, false);
  .row-content {
    width: 100%;
    &.with-background {
      position: absolute;
      top: 15%;
    }
  }
  .row-footer {
    width: 100%;
    position: absolute;
    bottom: 10%;
  }
}

@media #{$medium-up} {
  .row.footer {
    bottom: 20%;
  }
}

@media #{$large-up} {
  .row.content {
    min-height: $min-page-height;
  }
}

// Individual Sections

.loading {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/ajax-loader.gif);
  background-position: center center;
  background-size: rem-calc(30px) rem-calc(30px);
  background-repeat: no-repeat;
  z-index: 1001;
  position: fixed;
  @include single-transition(opacity, 0.5s, false, false);
}

// Intro
.intro,
.rsvp {
  .title {
    padding: rem-calc(30px) 0 rem-calc(20px) 0;
  }
  .date {
    padding-bottom: rem-calc(60px);
  }
  .scroll-down {
    display: inline-block;
    padding-right: 15px;
    background-image: url(../icon/chevron-down.svg);
    background-position: right center;
    background-size: rem-calc(10px) rem-calc(10px);
    background-repeat: no-repeat;
  }
}

// About us

.about-us-content {
  padding: 10%;
  h2 {
    padding-bottom: rem-calc(20px);
  }
  h4 {
    padding: rem-calc(20px) 0;
  }
  .avatar {
    cursor: pointer;
    padding-top: rem-calc(30px);
  }
  .andrew-avatar {
    text-align: right;
    padding-right: rem-calc(5px);
  }
  .claudia-avatar {
    text-align: left;
    padding-left: rem-calc(5px);
  }
  blockquote {
    cursor: pointer;
  }
  .row-content.quotes {
    padding-top: rem-calc(60px);
  }
}

.quotes-container {
  @include single-transition(height, 1s, false, false);
}

@media #{$small-only} {
  .about-us-content {
    padding: 15% 10%;
  }
}

@media #{$medium-only} {
  .about-us-content {
    .avatar {
      padding-bottom: rem-calc(30px);
    }
  }
}

@media #{$large-up} {
  .about-us-content {
    h2 {
      position: relative;
      top: rem-calc(100px);
      margin-top: rem-calc(-100px);
    }
    .andrew-avatar,
    .andrew-text {
      text-align: left;
      padding-right: 10%;
    }
    .claudia-avatar,
    .claudia-text {
      text-align: right;
      padding-left: 10%;
    }
    .avatar {
      cursor: default;
      padding-top: 0;
    }
  }
}


// Wedding Details

.wedding-details-content {
  padding: 10%;
  .intro-text {
    padding-bottom: rem-calc(50px);
    h2 {
      padding-bottom: rem-calc(20px);
    }
    p.intro {
      max-width: rem-calc(880px);
      margin: 0 auto;
    }
  }
  .ceremony,
  .reception,
  .cocktail {
    padding: 0 rem-calc(10px);
    max-width: rem-calc(320px);
    margin: 0 auto;
    h4 {
      padding: rem-calc(30px) 0 rem-calc(20px) 0;
    }
    .button {
      margin-top: rem-calc(10px);
      margin-bottom: rem-calc(50px);
    }
    .icon {
      margin-top: rem-calc(25px);
    }
  }
}

@media #{$small-only} {
  .wedding-details-content {
    padding: 15% 10%;
  }
}

@media #{$medium-only} {
  .ceremony,
  .reception,
  .cocktail {
    p {
      padding: 0 10%;
    }
    .icon {
      margin-top: rem-calc(35px);
    }
  }
}

@media #{$large-up} {
  .ceremony,
  .reception,
  .cocktail {
    p {
      height: rem-calc(150px);
    }
    .icon {
      margin-top: 0;
    }
  }
}

// Lodging

.lodging-content {
  padding: 10%;
  h2 {
    padding-bottom: rem-calc(50px);
  }
  .gunter,
  .courtyard {
    padding: 0 5%;
    text-align: center;
    h5 {
      padding: rem-calc(5px) 0;
    }
    p.hotel-info {
      margin-bottom: rem-calc(30px);
    }
  }
  .button {
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(70px);
  }
  .courtyard .button {
    margin-bottom: 0;
  }
}

@media #{$small-only} {
  .lodging-content {
    padding: 15% 10%;
  }
}

@media #{$large-up} {
  .lodging-content {
    .gunter,
    .courtyard {
      text-align: left;
      p.hotel-details {
        height: rem-calc(144px);
        margin-bottom: 0;
      }
    }
    .button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// In-between
.in-between-content {
  padding: 5%;
  h2 {
    padding-bottom: rem-calc(20px);
  }
  p.intro {
    padding-bottom: rem-calc(60px);
    max-width: rem-calc(880px);
    margin: 0 auto;
  }
  .double-border {
    border: rem-calc(1px) solid $light-grey-color;
    position: relative;
    padding: rem-calc(50px) 10%;
    margin: 0 auto;
    text-align: left;
    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: rem-calc(5px);
      left: rem-calc(5px);
      right: rem-calc(5px);
      bottom: rem-calc(5px);
      border: rem-calc(1px) solid $light-grey-color;
    }
    li {
      text-align: left;
      color: $peach-color;
      padding: rem-calc(15px) 0;
    }
  }
}

@media #{$small-only} {
  .in-between-content {
    padding: 15% 10%;
  }
}

@media #{$large-up} {
  .in-between-content {
    padding: 10% 15%;
    .double-border {
      width: 80%;
    }
  }
}

// Gift and Registry
.gifts-registry-content {
  img {
    width: rem-calc(300px);
  }
  .column {
    position: relative;
  }
  .row-content {
    padding-top: rem-calc(110px);
    padding-bottom: rem-calc(70px);
  }
  .registry-left {
    background-color: $light-grey-color;
    border: 1px solid $light-grey-color;
    text-align: center;
    h2 {
      padding-bottom: rem-calc(20px);
    }
    p {
      text-align: left;
      padding-left: rem-calc(60px);
      padding-right: rem-calc(60px);
    }
    .button {
      margin-top: rem-calc(30px);
    }
  }
  .registry-right {
    border: 1px solid $light-grey-color;
    text-align: center;
  }

  .registry-separator {
    width: rem-calc(30px);
    height: rem-calc(30px);
    @include border-radius(rem-calc(30px));
    background-color: $peach-color;
    color: $white-color;
    font-size: rem-calc(12px);
    text-transform: uppercase;
    line-height: rem-calc(32px);
    font-family: $secondary-font-family;
    font-weight: bold;
    position: absolute;
    bottom: rem-calc(-15px);
    right: 49%;
    z-index: 99;
    text-align: center;
  }
}

@media #{$medium-up} {
  .gifts-registry-content {
    padding: rem-calc(20px);
  }
}

@media #{$large-up} {
  .gifts-registry-content {
    .column {
      display: table;
      height: $min-page-height;
    }
    .registry-separator {
      right: rem-calc(-15px);
      top: 46%;
    }
    .registry-left {
      padding-left: 20%;
      display: table-cell;
      vertical-align: middle;
    }
    .registry-right {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Wedding party

// In-between
.wedding-party {
  padding: 10%;
  h5 {
    margin-bottom: rem-calc(15px);
  }
  .icon {
    margin: rem-calc(40px) 0;
  }
  .row-content {
    float: left;
    width: 100%;
  }
  .row-images {
    float: right;
    margin-top: rem-calc(30px);
  }
  .owl-carousel {
    .owl-item {
      @include single-transition(opacity, 0.4s, false, false);
      opacity: 0.25;
      &.center {
        opacity: 1;
      }
    }
  }
  .owl-stage-outer {
    overflow: visible;
  }
  .row-best-man {
    .row-images {
      width: 100%;
      .wedding-party-person {
        margin: 0 auto;
      }
    }
  }
}

@media #{$small-only} {
  .wedding-party {
    padding: 15% 10%;
    overflow: hidden;
  }
}

@media #{$large-up} {
  .wedding-party {
    .row-content {
      float: left;
      width: 60%;
    }
    .row-best-man {
      .row-images {
        width: auto;
        .wedding-party-person {
          margin: 0;
        }
      }
    }
  }
}

// Love to hear from you
.hear-from-you-content {
  padding: 10%;
  a {
    display: block;
    color: $black-color;
    text-decoration: none;
    font-size: $h4-font-size;
    border-bottom: 0;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-weight: 700;
    letter-spacing: 0.1rem;
    &:hover {
      color: $peach-color;
    }
    h4 {
      &:hover {
        color: $peach-color;
      }
    }
  }
  .icon {
    margin-top: rem-calc(75px);
    margin-bottom: rem-calc(8px);
  }
}

@media #{$small-only} {
  .hear-from-you-content {
    padding: 15% 10%;
  }
}

@media #{$medium-only} {
  .hear-from-you-content {
    .icon {
      margin-top: rem-calc(85px);
    }
  }
}

@media #{$large-up} {
  .hear-from-you-content {
    h2 {
      padding-top: rem-calc(200px);
      padding-bottom: rem-calc(20px);
    }
    .icon {
      margin-top: rem-calc(30px);
    }
    a {
      font-size: $h4-font-size-large;
    }
  }
}

// RSVP
@media #{$medium-only} {
  .row.rsvp {
    .row-content.with-background {
      top: 30%;
    }
    .row-footer {
      bottom: 15%;
    }
  }
}
