// Row Content

.row {
  @include single-box-shadow($shadow-color, 0px, rem-calc(5px), rem-calc(15px), false, false);
  .row-content {
    width: 100%;
    &.with-background {
      position: absolute;
      top: 15%;
    }
  }
  .row-footer {
    width: 100%;
    position: absolute;
    bottom: 15%;
  }
}

// Individual Sections

// Intro
.intro,
.rsvp {
  .title {
    padding: rem-calc(30px) 0 rem-calc(20px) 0;
  }
  .date {
    padding-bottom: rem-calc(60px);
  }
}

// About us

.about-us-content {
  padding: 10%;
  h2 {
    padding-bottom: rem-calc(20px);
  }
  h4 {
    padding: rem-calc(10px) 0;
  }
  .andrew-avatar {
    text-align: right;
    padding-right: rem-calc(5px);
  }
  .claudia-avatar {
    text-align: left;
    padding-left: rem-calc(5px);
  }
  .avatar {
    cursor: pointer;
  }
  blockquote {
    cursor: pointer;
  }
}

@media #{$large-only} {
  .about-us-content {
    h2 {
      position: relative;
      top: rem-calc(100px);
      margin-top: rem-calc(-100px);
    }
    .andrew-avatar,
    .andrew-text {
      text-align: left;
      padding-right: 10%;
    }
    .claudia-avatar,
    .claudia-text {
      text-align: right;
      padding-left: 10%;
    }
    .avatar {
      cursor: default;
    }
  }
}


// Wedding Details

.wedding-details-content {
  padding: 10%;
  h2 {
    padding-bottom: rem-calc(20px);
  }
  .intro-text {
    padding-bottom: rem-calc(40px);
  }
  .ceremony,
  .reception,
  .cocktail {
    padding: 0 rem-calc(10px);
    h4 {
      padding: rem-calc(20px) 0;
    }
    .button {
      margin-top: rem-calc(20px);
    }
  }
}

@media #{$medium-only} {
  .ceremony,
  .reception,
  .cocktail {
    p {
      padding: 0 10%;
    }
    .button {
      margin-bottom: rem-calc(40px);
    }
  }
}

@media #{$large-only} {
  .ceremony,
  .reception,
  .cocktail {
    p {
      height: rem-calc(150px);
    }
  }
}

// Lodging

.lodging-content {
  padding: 10%;
  h2 {
    padding-bottom: rem-calc(50px);
  }
  .gunter,
  .courtyard {
    padding: 0 5%;
    text-align: center;
    h5 {
      padding: rem-calc(5px) 0;
    }
  }
  .button {
    margin-bottom: rem-calc(50px);
  }
}

@media #{$large-only} {
  .lodging-content {
    .gunter,
    .courtyard {
      text-align: left;
      p {
        height: rem-calc(190px);
      }
    }
    .button {
      margin-bottom: 0;
    }
  }
}

// In-between
.in-between-content {
  padding: 5%;
  h2 {
    padding-bottom: rem-calc(20px);
  }
  p.intro {
    padding-bottom: rem-calc(30px);
  }
  .double-border {
    border: rem-calc(1px) solid $light-grey-color;
    position: relative;
    padding: 5% 10%;
    margin: 0 auto;
    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: rem-calc(5px);
      left: rem-calc(5px);
      right: rem-calc(5px);
      bottom: rem-calc(5px);
      border: rem-calc(1px) solid $light-grey-color;
    }
    li {
      text-align: left;
      color: $peach-color;
    }
  }
}

@media #{$large-only} {
  .in-between-content {
    padding: 10% 15%;
    .double-border {
      width: 80%;
    }
  }
}

// Love to hear from you
.hear-from-you-content {
  padding: 10%;
  h2 {
    padding-bottom: rem-calc(20px);
  }
  a {
    color: $black-color;
    text-decoration: none;
    border-bottom: 0;
  }
  .twitter-content,
  .mail-content {
    padding-bottom: rem-calc(50px);
  }
}

@media #{$large-only} {
  .hear-from-you-content {
    .twitter-content,
    .mail-content {
      padding-bottom: 0;
    }
  }
}

// RSVP
@media #{$medium-only} {
  .row.rsvp {
    .row-content.with-background {
      top: 30%;
    }
    .row-footer {
      bottom: 30%;
    }
  }
}
